<div class="w-50 mx-auto">
    <h1>Tài khoản của bạn</h1>
    <p>Thông tin tài khoản của bạn:</p>
    <h3>Name: <%= name %></h3>
    <h3>Email: <%= email %></h3>
    <div>
    <a href="/password">Đổi mật khẩu</a>
    </div>
    <div>
    <a href="/auth/logout">Đăng xuất</a>
    </div>
</div>