<div class="w-50 mx-auto">
    <h1>Tài khoản của bạn</h1>
    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>
    <p >Quản lí thiết bị đã đăng nhập:
    <p>Trình duyệt: <%= client.name %></p>
    <p>Hệ điều hành: <%= os.name %></p>
    </p>
    <div>
    <a href="/password">Đổi mật khẩu</a>
    </div>
    <div>
    <a href="/auth/logout">Đăng xuất</a>
    </div>
</div>