<div class="w-50 mx-auto">
  <h2 class="text-center">Vui lòng nhập email</h2>
  <% if (msg.length) { %>
    <div class="alert alert-success mt-2"><%= msg %></div>
  <% } %>
  <span class="text-danger"><%= req.errors.email %></span>
    <form action="" method="post">
      <div class="mb-3">
        <input
          type="text"
          name="email"
          class="form-control"
          placeholder="Email..."
          value="<%= req.old.email %>"
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary ">Submit</button>
      </div>
      
    </form>

    <div class="d-grid">
      <a href="/auth/login" class="text-center text-decoration-none mt-2 text-primary">Quay lại đăng nhập</a>
    </div>
  </div>