<div class="w-50 mx-auto">
    <h2 class="text-center">Lấy mật khẩu</h2>
    <% if (msgSuccess.length) { %>
        <div class="alert alert-success mt-2"><%= msgSuccess %></div>
    <% } %>
    <% if (msgError.length) { %>
      <div class="alert alert-danger mt-2"><%= msgError %></div>
    <% } %>
    <form action="" method="post">
      <div class="mb-3">
        <label for="">Mật khẩu mới</label>
        <input
          type="password"
          name="newPassword"
          class="form-control"
          placeholder="Mật khẩu mới..."
        />
    <span class="text-danger"><%= req.errors.newPassword %></span>

      </div>

      <div class="mb-3">
        <label for="">Nhập lại mật khẩu mới</label>
        <input
          type="password"
          name="reTypeNewPassword"
          class="form-control"
          placeholder="Nhập lại mật khẩu mới..."
        />
    <span class="text-danger"><%= req.errors.reTypeNewPassword %></span>

      </div>

      <div class="d-grid">
        <button  class="btn btn-primary">Cập nhật mật khẩu</button>
      </div>
    </form>

    <div class="d-grid">
      <a href="/auth/login" class="text-center text-decoration-none mt-2 text-primary">Đăng nhập với mật khẩu mới</a>
      <a href="/forgot-password" class="text-center text-decoration-none mt-2 text-primary">Lấy mật khẩu</a>
    </div>
  </div>